<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title > Mi crypto cartera - {{ title }}</title>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <header>
        <p class="centered-title" class="container" >Mi crypto cartera</p>
    </header>
    <section class="container">
        <nav>
            <div></div>
            <a href="#" id="btnNuevo" role="button">Nuevo</a>
        </nav>
        
        <h1>Estado de la inversión</h1>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Moneda_from</th>
                    <th>Cantidad_from</th>
                    <th>Moneda_to</th>
                    <th>Cantidad_to</th>
                </tr>
            </thead>
            <tbody id="table_movements">
            
            </tbody>   

        </table>

    </section>
    <footer>
        <p class="container">&copy; 2023 - Alba ZÚÑIGA ASPAS</p>
    </footer>
</body>
</html>