<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title > Mi crypto cartera - {{ title }}</title>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <header>
        <p class="centered-title" class="container" >Mi crypto cartera</p>
    </header>
    
    <section class="container">

        <nav>
            <div class="button-container">
                <button class="header-button">Inicio</button>
                <button class="header-button">Compra</button>
                <button class="header-button">Status</button>
            </div>
            <p class="centered-title">Mi crypto cartera</p>
        </nav>

        <h1>Estado de la inversión</h1>
        <table id="table_movements">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Moneda_from</th>
                    <th>Cantidad_from</th>
                    <th>Moneda_to</th>
                    <th>Cantidad_to</th>
                </tr>
            </thead>
            <tbody id="table_movements_body">
            
            </tbody>   

        </table>

        <article id="form_container" class="invisible">
            <form>
                <div class="left-items">
                                    
                    <div>
                        <label for="from">From:</label>
                        <select name="moneda_from" id="moneda_from" placeholder="Moneda_from">
                            <option value="EUR">Euro</option>
                            <option value="BTC">Bitcoin</option>
                            <option value="ETH">Ethereum</option>
                            <option value="USDT">Tether USDt</option>
                            <option value="BNB">Binance Coin</option>
                            <option value="XRP">XRP</option>
                            <option value="ADA">Cardano</option>
                            <option value="SOL">Solana</option>
                            <option value="DOT">Polkadot</option>
                            <option value="MATIC">Polygon</option>
                        </select>
                    </div>
                    <div>
                        <input type="number" name="cantidad_from" id="cantidad_from" step="0.01" placeholder="Cantidad a invertir">
                    </div>
                    <div>
                        <input type="submit" name="submitConversion" id="submitConversion" value="Calcular" role="button">
                    </div>
                </div>
                <div class="right-items">
                    
                    <div>
                        <label for="to">To:</label>
                        <select name="moneda_to" id="moneda_to" placeholder="Moneda_to">
                            <option value="EUR">Euro</option>
                            <option value="BTC">Bitcoin</option>
                            <option value="ETH">Ethereum</option>
                            <option value="USDT">Tether USDt</option>
                            <option value="BNB">Binance Coin</option>
                            <option value="XRP">XRP</option>
                            <option value="ADA">Cardano</option>
                            <option value="SOL">Solana</option>
                            <option value="DOT">Polkadot</option>
                            <option value="MATIC">Polygon</option>
                        </select>
                    </div>
                    <div id="calculated_amount"></div> <!-- Elemento para mostrar la salida del cálculo -->
                    <div>
                        <input type="submit" name="submit" id="submit" value="Aceptar" role="button">
                    </div>
                </div>
                
            </form>
        </article>
        

    </section>
    <footer>
        <p class="container">&copy; 2023 - Alba ZÚÑIGA ASPAS</p>
    </footer>
</body>
</html>