#msg-error p {
    color:firebrick;
    padding: 10px 0;
    text-align: center;
}
#msg-error {
    border: 2px solid firebrick;
    background-color: #fbd5d5;
    border-radius: 5px;   
}

header, footer {
    background-color: #C0C0C0;
}


header p, footer p {
    color: black;
    font-weight: bold;
    font-size: 1.8em;
}

.error {
    color:firebrick;
    font-size: 0.8em;
    font-weight: bold;
}

/* Estilo para el contenedor de los botones en el header */
.button-container {
    display: flex; /* Mostrar los botones en una línea */
    align-items: center; /* Alinear los elementos verticalmente al centro */
}

/* Estilo para los botones */
.header-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #C0C0C0; /* Puedes cambiar el color a tu gusto */
    color: white;
    border: 2px solid black; /* Agregar borde de 1px de grosor, negro */
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el título del header */
.centered-title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

#form_container {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilo para el contenedor principal de los formularios */
#form_container {
    display: flex;
    flex-direction: column;
}

/* Estilo para la sección que contiene los formularios (izquierda y derecha) */
#form_container .container {
    display:inline-flex ;
    justify-content: space-between; /* Espacio entre los elementos para ocupar el ancho disponible */
    flex-wrap: wrap; /* Asegurar que los elementos de la derecha se envuelvan en una nueva línea si el espacio es insuficiente */
    align-items: flex-end;
}

/* Estilo para la columna de la izquierda */
.left-items {
    display: inline-flex;
    flex-direction: column; /* Mostrar los elementos en una columna */
    align-items: flex-start; /* Alinear los elementos al inicio de la columna */
}

/* Estilo para la columna de la derecha */
.right-items {
    display: inline-flex;
    flex-direction: column; /* Mostrar los elementos en una columna */
    align-items: flex-end;
    margin-top: 10px;
}

/* Estilo para los formularios */
#form_container form {
    display: inline-flex;
    flex-wrap: wrap; /* Asegurar que los elementos del formulario se envuelvan en una nueva línea si el espacio es insuficiente */
    justify-content: center; /* Centrar el formulario horizontalmente */
}

#form_container form > div {
    margin: 25px; /* Espacio entre los elementos del formulario */
}



/* Estilo para los botones dentro del formulario */
#form_container form input[type="submit"] {
    padding: 5px 10px;
    background-color: #C0C0C0; /* Puedes cambiar el color a tu gusto */
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}


/* Estilo para los campos del formulario */
#form_container form input,
#form_container form select {
    width: 200px; /* Ancho fijo para los campos del formulario */
}
/* Estilo para mostrar la salida del cálculo */
#calculated_amount {
    margin-top: 20px; /* Espacio entre el formulario y la salida del cálculo */
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
}
